<td><p class="text-muted"> {{rfc}} </p></td>
<td><p class="text-muted"> {{serie}} </p></td>
<td><p class="text-muted"> {{folio}} </p></td>
<td><p class="text-muted"> {{num_cuenta_pago}} </p></td>
<td><p class="text-muted"> {{fecha_pago}} </p></td>
