= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-signin"} ) do |f|
  %h2.form-signin-heading 
    Please sign in
  = f.email_field :email, :autofocus => true, :class => "form-control", :placeholder => t("devise.login.email")
  = f.password_field :password, :class => "form-control", :placeholder => t("devise.login.password")
  - if devise_mapping.rememberable?
    = f.label :remember_me, :class => "checkbox" do
      = f.check_box :remember_me
      = t("devise.login.remember_me") 
  = f.submit t("devise.login.sign_in"), :class => "btn btn-lg btn-default btn-block"



